/*written by William Horn*/
*
{
	margin: 0;
	padding: 0;
}

.menu
{
	align: center;
	list-style: none;
	width: 100%;
	position: sticky;
}

.menu nav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
}

.menu li
{
	float: left;
}

.menu li a
{
	display: block;
	color: white;
	padding: 15px 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	text-decoration: none;
}

.menu li a:hover
{
	background: rgba(130, 22, 237, 0.5);
}

.input table
{
   padding: 10px;
   background: rgba(0, 0, 0, 0.5);
   color: white;
}

.descript
{
   margin: auto;
   width: 60%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
   font-size: 15px;
}

.arch
{
   margin: auto;
   width: 70%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
}

.arch t
{
   margin: auto;
   border: 2px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 2px;
   font-weight: bold;
}

.arch p
{
   padding: 2px;
}

.buisLog
{
   margin: auto;
   width: 70%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
}

.buisLog t
{
   margin: auto;
   border: 2px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 2px;
   font-weight: bold;
}

.buisLog p
{
   padding: 2px;
}

.databaseDes
{
   margin: auto;
   width: 70%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
}

.databaseDes t
{
   margin: auto;
   border: 2px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 2px;
   font-weight: bold;
}

.databaseDes p
{
   padding: 2px;
}

.specFeat
{
   margin: auto;
   width: 70%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
}

.specFeat t
{
   margin: auto;
   border: 2px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 2px;
   font-weight: bold;
}

.specFeat p
{
   padding: 2px;
}

.teamMems
{
   margin: auto;
   width: 70%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
}

.teamMems t
{
   margin: auto;
   border: 2px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 2px;
   font-weight: bold;
}

.teamMems p
{
   padding: 2px;
}

body
{
	font-family: "Comic Sans MS", cursive, sans-serif;
   color: black;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background.jpg");
	height: 100vh;
	background-size: initial;
   background-repeat: repeat;
	background-position: left;
	cursor: pointer;
}

footer
{
	position: fixed;
	bottom: 0;
	text-align: left;
	list-style: none;
	background-color: rgba(o,o,o,,o.5);
	color: white;
	font-size: 16px;
	padding: 20px;
}