/*written by William Horn*/
*
{
	margin: 0;
	padding: 0;
}

.menu
{
	align: center;
	list-style: none;
	width: 100%;
	position: sticky;
}

.menu nav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
}

.menu li
{
	float: left;
}

.menu li a
{
	display: block;
	color: white;
	padding: 15px 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	text-decoration: none;
}

.menu li a:hover
{
	background: rgba(130, 22, 237, 0.5);
}

.input table
{
   padding: 10px;
   background: rgba(0, 0, 0, 0.5);
   color: white;
}

body
{
	font-family: "Comic Sans MS", cursive, sans-serif;
   color: black;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background.jpg");
	height: 100vh;
	background-size: initial;
   background-repeat: repeat;
	background-position: left;
	cursor: pointer;
}

footer
{
	position: fixed;
	bottom: 0;
	text-align: left;
	list-style: none;
	background-color: rgba(o,o,o,,o.5);
	color: white;
	font-size: 16px;
	padding: 20px;
}