/*written by William Horn*/
*
{
	margin: 0;
	padding: 0;
}

.menu
{
	align: center;
	list-style: none;
	width: 100%;
	position: sticky;
}

.menu nav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
}

.menu li
{
	float: left;
}

.menu li a
{
	display: block;
	color: white;
	padding: 15px 20px;
	font-family: Georgia, serif;
	font-size: 20px;
	text-decoration: none;
}

.menu li a:hover
{
	background: rgba(234, 102, 20, 0.5);
}

.container
{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.macro
{
   width: 250px;
   float: center;
   height: auto;
   padding: 10px;
   background: rgba(0, 0, 0, 0.25);
   border: 3px solid #000000;
   text-align: center;
   display: inline-block;
}

.macro h3
{
   color: rgb(234, 102, 20);
}

.button
{
   background-color: #000000;
   color: white;
   padding: 15px;
   text-align: center;
   display: block;
   margin: auto;
   width: auto;
   font-size: 16px;
   cursor: pointer;
   border-radius: 8px;
}

.button:hover
{
	background: rgb(234, 102, 20);
   cursor: pointer;
}

.input table
{
   padding: 10px;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   border: 3px solid #000000;
}

.input p
{
   text-align: center;
}

.descript
{
   margin: auto;
   width: 60%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
   font-size: 15px;
}

.block
{
   margin: auto;
   width: 70%;
   border: 3px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 10px;
}

.block h2
{
   color: rgb(234, 102, 20);
}

.block t
{
   margin: auto;
   border: 2px solid #000000;
   background: rgba(0, 0, 0, 0.25);
   padding: 2px;
   font-weight: bold;
   color: rgb(234, 102, 20);
}

.block p
{
   padding: 2px;
}

.video 
{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid #000000;
}

body
{
	font-family: Georgia, serif;
   color: black;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background.jpg");
	height: 100vh;
	background-size: initial;
   background-repeat: repeat;
	background-position: left;
}

footer
{
	position: fixed;
	bottom: 0;
	text-align: left;
	list-style: none;
	background-color: rgba(o,o,o,,o.5);
	color: white;
	font-size: 16px;
	padding: 20px;
}